Epos2-50-5/CMSIS/*
Epos2-50-5/FWlib/*
Epos2-50-5/Listing/*
Epos2-50-5/Output/*

Epos4-50-15/CMSIS/*
Epos4-50-15/FWlib/*
Epos4-50-15/Listing/*
Epos4-50-15/Output/*


/Keil/

*.bat
*.saved_uv4
*.o
*.crf
*.d
*.axf
*.htm
*.hex
*.map
*.lnp
*.sct
*.dep
*.inc
*.url
*.od
*.txt
*.XLH
*.zip
*.pc
*.uvoptx
*.mp4
*.jpg
*.png

/**office**/
*.xlsx
